.rickCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/POSTER_EXCLUSIVO__PIEZAS_LIMITADAS__RICK___MORTY-_PORTAL.webp');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 7px solid greenyellow;
    max-width: 390px;
    max-height: 600px;
    margin-bottom: 30px;
}

.close{
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 0 10px;
    font-size: larger;
    border-radius: 100%;
    width: 11%;
    height: 100%;
    border: transparent;
}

.buttonHeart{
    color: #fff;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding: 0 10px;
    font-size: larger;
}

.infoName{
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    position: absolute;
    bottom: 90px;
    z-index: 100;
    background-color: #00d69d;
    border: 2px solid #008ca0;
    border-radius: 10px;
}

.buttonsFavDel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: #00d69d;
    max-height: 50px;
    width: 100%;
    padding: 10px;
    /* border: 1px solid red; */
}

.rickImg{
    /* width: 90%; */
    border-radius: 100%;
}

.infoCharacter{
    background-color: #008ca0;
    background-color: #00d69d;
    color: black;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: relative;
}

/* .infoSpecies{
    position: relative;
    top: 337px;
    left: 75px;
    z-index: 20;
    font-weight: 400;
    font-size:large;
} */

/* .infoGender{
    z-index: 20;
    position: relative;
    top: 282px;
    right: 65px;
    font-weight: 400;
    font-size:large;
} */
