.bar{
    background-color: rgb(43, 130, 138, 0.25);
    backdrop-filter: blur(4px);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.buttonHome, .buttonAbout{
    height: 35px;
    padding: 2px 7px;
    background-color: rgb(83, 187, 83);
    color: #fff;
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    border: red;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #fff;
}

.buttonHome:active, .buttonAbout:active{
    box-shadow: none;
}